@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600;700&display=swap');


* {
  box-sizing: border-box;
}


body {
  background-color: #2a2a2a;
  color: #fff;
  font-family: "Cabin Condensed", sans-serif;
  font-weight: 400;
}